lib/n8n_nodes.json
{
  "nodes": [
    {
      "parameters": {},
      "id": "ccc779a2-f321-437c-bb41-c3e4e4339448",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1072,
        1280
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "304aec94-4d3c-80a8-82f6-fd7ff4d2b607",
          "mode": "list",
          "cachedResultName": "projects",
          "cachedResultUrl": "https://www.notion.so/304aec944d3c80a882f6fd7ff4d2b607"
        },
        "returnAll": true,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "key": "in showcase|checkbox",
              "condition": "equals",
              "checkboxValue": true
            },
            {
              "key": "public|checkbox",
              "condition": "equals",
              "checkboxValue": true
            }
          ]
        },
        "options": {}
      },
      "id": "82126fbd-3ae5-4070-9e34-c88831049755",
      "name": "Query Showcase (Projects)",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        2048,
        704
      ],
      "credentials": {
        "notionApi": {
          "id": "um5X4aoNtxRS0uUI",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "30baec94-4d3c-8050-80e9-f6b12c892615",
          "mode": "list",
          "cachedResultName": "collections",
          "cachedResultUrl": "https://www.notion.so/30baec944d3c805080e9f6b12c892615"
        },
        "returnAll": true,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "key": "public|checkbox",
              "condition": "equals",
              "checkboxValue": true
            }
          ]
        },
        "options": {}
      },
      "id": "eee70864-3cb3-4ed3-9cf5-132da8872143",
      "name": "Query Collections (All Public)",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        2048,
        896
      ],
      "credentials": {
        "notionApi": {
          "id": "um5X4aoNtxRS0uUI",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "30baec94-4d3c-8071-8cc5-c1ca2a3f3eb0",
          "mode": "list",
          "cachedResultName": "assets",
          "cachedResultUrl": "https://www.notion.so/30baec944d3c80718cc5c1ca2a3f3eb0"
        },
        "returnAll": true,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "key": "public|checkbox",
              "condition": "equals",
              "checkboxValue": true
            }
          ]
        },
        "options": {}
      },
      "id": "8dbefa02-727f-4616-862f-f4020feaa019",
      "name": "Query Assets (All Public)",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        2048,
        1088
      ],
      "credentials": {
        "notionApi": {
          "id": "um5X4aoNtxRS0uUI",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "30baec94-4d3c-807e-887b-cfb9c1aac846",
          "mode": "list",
          "cachedResultName": "resources",
          "cachedResultUrl": "https://www.notion.so/30baec944d3c807e887bcfb9c1aac846"
        },
        "returnAll": true,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "key": "public|checkbox",
              "condition": "equals",
              "checkboxValue": true
            }
          ]
        },
        "options": {}
      },
      "id": "c67072f3-a917-4b9d-a0ae-fadd0f7782e4",
      "name": "Query Resources (All Public)",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        2048,
        1280
      ],
      "credentials": {
        "notionApi": {
          "id": "um5X4aoNtxRS0uUI",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/*\nBulk-build nested JSON in one pass.\n- No SplitInBatches.\n- Aggressively maps fields (keeps raw property_* too).\n\nDesired nesting rules:\n- Project:\n  - collections[] (each collection includes its own items/resources/assets/thumbnail)\n  - resources[]\n  - assets[]\n  - articles[]\n  - workLogs[]   <-- added\n  - thumbnail (single related asset or null)\n- Collection:\n  - items[] (assets referenced by property_collection_items)\n  - resources[]\n  - assets[] (assets that reference the collection via their own relation)\n  - thumbnail (single related asset or null)\n- Asset:\n  - resources[]\n  - thumbnail (single related asset or null)\n\nExpected Notion shapes from your workflow:\n- Projects (showcase): property_* fields like property_name, property_summary, property_collections, property_assets, property_resources, property_articles, etc.\n- Collections: property_projects, property_thumbnail (optional), property_collection_items (relation to assets), etc.\n- Assets: property_projects, property_collections, property_thumbnail (relation to another asset), etc.\n- Resources: property_projects, property_collections, property_assets\n- Work Log: property_project (relation to project), property_date, property_entry, etc.\n*/\n\nconst uniq = (arr) => Array.from(new Set((arr ?? []).filter(Boolean)));\n\nfunction safeArray(v) {\n  return Array.isArray(v) ? v : (v == null ? [] : [v]);\n}\n\nfunction pickFirst(v) {\n  const a = safeArray(v);\n  return a.length ? a[0] : null;\n}\n\nfunction dedupById(arr) {\n  const seen = new Set();\n  const out = [];\n  for (const x of arr ?? []) {\n    const id = x?.id ?? JSON.stringify(x);\n    if (!seen.has(id)) {\n      seen.add(id);\n      out.push(x);\n    }\n  }\n  return out;\n}\n\nfunction parseDateValue(v) {\n  if (!v) return null;\n  if (typeof v === \"string\") return v;\n  if (typeof v === \"object\" && v.start) return v.start;\n  return null;\n}\n\nfunction parseStartedLastUpdateRange(v) {\n  const value = pickFirst(v) ?? v;\n  if (!value) {\n    return {\n      raw: null,\n      startedAt: null,\n      lastUpdateAt: null,\n    };\n  }\n\n  if (typeof value === \"string\") {\n    return {\n      raw: value,\n      startedAt: value,\n      lastUpdateAt: null,\n    };\n  }\n\n  if (typeof value === \"object\") {\n    return {\n      raw: value,\n      startedAt: parseDateValue(value.start ?? value),\n      lastUpdateAt: parseDateValue(value.end),\n    };\n  }\n\n  return {\n    raw: null,\n    startedAt: null,\n    lastUpdateAt: null,\n  };\n}\n\nfunction normalizeArticlesField(v) {\n  const values = safeArray(v)\n    .flatMap((entry) => {\n      if (entry == null) return [];\n      if (typeof entry === \"string\") return [entry];\n      if (typeof entry === \"object\") {\n        if (typeof entry.url === \"string\") return [entry.url];\n        if (typeof entry.href === \"string\") return [entry.href];\n        if (typeof entry.plain_text === \"string\") return [entry.plain_text];\n        if (typeof entry.text === \"string\") return [entry.text];\n      }\n      return [String(entry)];\n    })\n    .flatMap((entry) => String(entry).split(/\\r?\\n|,/))\n    .map((entry) => entry.trim())\n    .filter(Boolean);\n\n  return uniq(values);\n}\n\nfunction sortByDateDesc(arr, getDate) {\n  return [...(arr ?? [])].sort((a, b) => {\n    const da = getDate(a);\n    const db = getDate(b);\n    const ta = da ? Date.parse(da) : 0;\n    const tb = db ? Date.parse(db) : 0;\n    return tb - ta;\n  });\n}\n\nconst PROJECT_SINGLE_ASSET_RELATION_EXCLUDE = new Set([\n  \"property_assets\",\n  \"property_collections\",\n  \"property_resources\",\n  \"property_title\",\n]);\n\nconst PROJECT_MEDIA_HINT_RE =\n  /(thumbnail|banner|icon|poster|hero|image|cover|logo|artwork|media|preview|screenshot)/i;\n\nfunction stripPropertyPrefix(key) {\n  return String(key ?? \"\").replace(/^property_/, \"\");\n}\n\nfunction getFirstRelationId(v) {\n  const first = pickFirst(v);\n  if (!first) return null;\n  if (typeof first === \"string\") return first;\n  if (typeof first === \"object\") return first.id ?? null;\n  return null;\n}\n\nfunction resolveSingleAssetRelation(row, propertyKey, assetById) {\n  const relationId = getFirstRelationId(row?.[propertyKey]);\n  if (!relationId) return { relationId: null, asset: null };\n  const rawAsset = assetById[relationId];\n  return {\n    relationId,\n    asset: rawAsset ? normalizeThumbnail(rawAsset) : null,\n  };\n}\n\nfunction detectProjectSingleAssetRelationKeys(projectRows, assetById) {\n  const keys = new Set([\"property_thumbnail\"]);\n\n  for (const row of projectRows ?? []) {\n    for (const [key, value] of Object.entries(row ?? {})) {\n      if (!key.startsWith(\"property_\")) continue;\n      if (PROJECT_SINGLE_ASSET_RELATION_EXCLUDE.has(key)) continue;\n\n      const values = safeArray(value);\n      if (values.length > 1) continue;\n\n      if (values.length === 0) {\n        if (PROJECT_MEDIA_HINT_RE.test(key)) keys.add(key);\n        continue;\n      }\n\n      const relationId = getFirstRelationId(values);\n      if (relationId && assetById[relationId]) {\n        keys.add(key);\n        continue;\n      }\n\n      if (PROJECT_MEDIA_HINT_RE.test(key)) keys.add(key);\n    }\n  }\n\n  return [...keys];\n}\n\nfunction normalizeResource(r) {\n  return {\n    id: r.id ?? null,\n    name: r.name ?? null,\n    label: r.property_label ?? null,\n    type: r.property_type ?? null,\n    url: r.property_url ?? null,\n    icon: r.property_icon ?? null,\n\n    projectIds: uniq(r.property_projects),\n    collectionIds: uniq(r.property_collections),\n    assetIds: uniq(r.property_assets),\n\n    raw: r,\n  };\n}\n\nfunction normalizeThumbnail(a) {\n  return {\n    id: a.id ?? null,\n    name: a.name ?? null,\n    label: a.property_label ?? null,\n    type: a.property_type ?? null,\n    filename: a.property_filename ?? null,\n    relativePath: a.property_relative_path ?? null,\n\n    projectIds: uniq(a.property_projects),\n    collectionIds: uniq(a.property_collections),\n\n    // resources attached later (if any resource points at this asset id)\n    resources: [],\n\n    raw: a,\n  };\n}\n\nfunction normalizeAsset(a, assetById) {\n  const thumbId = getFirstRelationId(a.property_thumbnail);\n  const thumb =\n    thumbId && assetById[thumbId] ? normalizeThumbnail(assetById[thumbId]) : null;\n\n  return {\n    id: a.id ?? null,\n    name: a.name ?? null,\n    label: a.property_label ?? null,\n    type: a.property_type ?? null,\n    filename: a.property_filename ?? null,\n    relativePath: a.property_relative_path ?? null,\n\n    projectIds: uniq(a.property_projects),\n    collectionIds: uniq(a.property_collections),\n\n    thumbnail: thumb,\n\n    // resources attached later\n    resources: [],\n\n    raw: a,\n  };\n}\n\nfunction normalizeCollection(c, assetById) {\n  const thumbId = getFirstRelationId(c.property_thumbnail);\n  const thumb =\n    thumbId && assetById[thumbId] ? normalizeThumbnail(assetById[thumbId]) : null;\n\n  return {\n    id: c.id ?? null,\n    name: c.name ?? null,\n    label: c.property_label ?? null,\n    oneLiner: pickFirst(c.property_one_liner) ?? null,\n    summary: pickFirst(c.property_summary) ?? null,\n\n    projectIds: uniq(c.property_projects),\n\n    // IDs of assets that are the \"collection items\"\n    collectionItemIds: uniq(c.property_collection_items),\n\n    thumbnail: thumb,\n\n    // attached later\n    assets: [],\n    resources: [],\n\n    // populated later from collectionItemIds -> normalized asset objects\n    items: [],\n\n    raw: c,\n  };\n}\n\nfunction normalizeWorkLog(w) {\n  const dateVal = parseDateValue(w.property_date);\n\n  return {\n    id: w.id ?? null,\n    name: w.name ?? null,\n    url: w.url ?? null,\n\n    // Common fields from your sample\n    entry: w.property_entry ?? w.name ?? null,\n    date: dateVal,\n    dateRaw: w.property_date ?? null,\n\n    sessionStart: parseDateValue(w.property_session_start),\n    sessionEnd: parseDateValue(w.property_session_end),\n\n    public: !!w.property_public,\n    projectIds: uniq(w.property_project),\n\n    whatHappened: w.property_what_happened ?? null,\n    problems: (typeof w.property_problems === \"string\" && w.property_problems.trim() === \"\") ? null : (w.property_problems ?? null),\n    nextStep: (typeof w.property_next_step === \"string\" && w.property_next_step.trim() === \"\") ? null : (w.property_next_step ?? null),\n\n    sessionType: safeArray(w.property_session_type),\n    milestoneIds: uniq(w.property_milestone),\n    relatedTaskIds: uniq(w.property_related_tasks),\n    sessionIds: uniq(w.property_sessions),\n\n    assetsUrl: w.property_assets_url ?? null,\n    assetsFilesMedia: safeArray(w.property_assets_files_media),\n    automationLogs: safeArray(w.property_automation_logs),\n\n    allowAutomation: !!w.property_allow_automation,\n    feelGoodAboutWork: w.property_feel_good_about_work ?? null,\n    accomplishedWhatYouWanted: w.property_accomplished_what_you_wanted ?? null,\n\n    raw: w,\n  };\n}\n\nfunction normalizeProject(p, assetById, projectSingleAssetRelationKeys) {\n  // If you truly have a separate Project page id field, keep it.\n  // Otherwise, p.id is already the Notion page id for the showcase record.\n  const projectPageId = pickFirst(p.property_title) ?? p.projectPageId ?? p.id ?? null;\n\n  const singleAssetRelationIds = {};\n  const singleAssetMedia = {};\n  for (const propertyKey of projectSingleAssetRelationKeys ?? [\"property_thumbnail\"]) {\n    const outputKey = stripPropertyPrefix(propertyKey);\n    const resolved = resolveSingleAssetRelation(p, propertyKey, assetById);\n    singleAssetRelationIds[outputKey] = resolved.relationId;\n    singleAssetMedia[outputKey] = resolved.asset;\n  }\n\n  const thumb = singleAssetMedia.thumbnail ?? null;\n  const startedAndUpdatedRange = parseStartedLastUpdateRange(\n    p.property_started_at_last_update_at\n  );\n  const startedAt = parseDateValue(p.property_started_at) ?? startedAndUpdatedRange.startedAt ?? null;\n  const lastUpdateAt = parseDateValue(p.property_last_update_at) ?? startedAndUpdatedRange.lastUpdateAt ?? null;\n  const startedAtLastUpdateAt =\n    startedAt || lastUpdateAt\n      ? {\n          start: startedAt,\n          end: lastUpdateAt,\n          time_zone: null,\n        }\n      : null;\n\n  const project = {\n    id: p.id ?? null,\n    projectPageId,\n\n    title: p.property_name ?? p.name ?? null,\n    name: p.property_name ?? p.name ?? null,\n    subtitle: pickFirst(p.property_subtitle) ?? null,\n    oneLiner: pickFirst(p.property_one_liner) ?? null,\n    summary: pickFirst(p.property_summary) ?? null,\n    domain: pickFirst(p.property_domain) ?? null,\n    featured: !!pickFirst(p.property_featured),\n    featuredOrder: p.property_featured_order ?? null,\n    tags: safeArray(p.property_tags),\n    category: safeArray(p.property_category),\n    status: pickFirst(p.property_status) ?? null,\n    phase: pickFirst(p.property_phase) ?? null,\n    articles: normalizeArticlesField(p.property_articles),\n    startedAt,\n    lastUpdateAt,\n    startDate: startedAt,\n    lastUpdateDate: lastUpdateAt,\n    startedAtLastUpdateAt,\n    projectDateRangeRaw: startedAtLastUpdateAt,\n\n    thumbnail: thumb,\n    singleAssetMedia,\n    singleAssetRelationIds,\n\n    // attached later\n    collections: [],\n    assets: [],\n    resources: [],\n    workLogs: [], // <-- added\n\n    // keep raw relations if present (still useful for explicit attach)\n    collectionIds: uniq(p.property_collections),\n    assetIds: uniq(p.property_assets),\n    resourceIds: uniq(p.property_resources),\n\n    raw: p,\n  };\n\n  // Keep easy top-level access for single project media fields (banner, hero, icon, etc.)\n  // while preserving all existing output keys.\n  for (const [key, asset] of Object.entries(singleAssetMedia)) {\n    if (key === \"thumbnail\") continue;\n    if (Object.prototype.hasOwnProperty.call(project, key)) continue;\n    project[key] = asset;\n  }\n\n  return project;\n}\n\n// --- Gather items by origin node\nconst projectsRaw = $items(\"Query Showcase (Projects)\").map((i) => i.json);\nconst collectionsRaw = $items(\"Query Collections (All Public)\").map((i) => i.json);\nconst assetsRaw = $items(\"Query Assets (All Public)\").map((i) => i.json);\nconst resourcesRaw = $items(\"Query Resources (All Public)\").map((i) => i.json);\nconst workLogsRaw = $items(\"Query Work Log (All Public)\").map((i) => i.json);\n\n// --- Index raw assets first (needed for thumbnails)\nconst assetById = {};\nfor (const a of assetsRaw) assetById[a.id] = a;\nconst projectSingleAssetRelationKeys = detectProjectSingleAssetRelationKeys(\n  projectsRaw,\n  assetById\n);\n\n// --- Normalize\nconst resources = resourcesRaw.map(normalizeResource);\nconst workLogs = workLogsRaw.map(normalizeWorkLog); // <-- added\n\nconst normalizedAssets = assetsRaw.map((a) => normalizeAsset(a, assetById));\nconst assetNormById = Object.fromEntries(normalizedAssets.map((a) => [a.id, a]));\n\nconst normalizedCollections = collectionsRaw.map((c) => normalizeCollection(c, assetById));\nconst collectionNormById = Object.fromEntries(normalizedCollections.map((c) => [c.id, c]));\n\nconst normalizedProjects = projectsRaw.map((p) =>\n  normalizeProject(p, assetById, projectSingleAssetRelationKeys)\n);\nconst projectNormById = Object.fromEntries(\n  normalizedProjects.map((p) => [p.projectPageId ?? p.id, p])\n);\n\n// --- Attach resources to parents (projects/collections/assets)\nfor (const r of resources) {\n  for (const pid of r.projectIds) {\n    const p =\n      projectNormById[pid] ||\n      normalizedProjects.find((x) => x.id === pid || x.projectPageId === pid);\n    if (p) p.resources.push(r);\n  }\n  for (const cid of r.collectionIds) {\n    const c = collectionNormById[cid];\n    if (c) c.resources.push(r);\n  }\n  for (const aid of r.assetIds) {\n    const a = assetNormById[aid];\n    if (a) a.resources.push(r);\n  }\n}\n\n// --- Attach assets to collections + projects\n// (This is \"membership via asset.property_collections\" and \"asset.property_projects\")\nfor (const a of normalizedAssets) {\n  for (const cid of a.collectionIds) {\n    const c = collectionNormById[cid];\n    if (c) c.assets.push(a);\n  }\n  for (const pid of a.projectIds) {\n    const p =\n      projectNormById[pid] ||\n      normalizedProjects.find((x) => x.id === pid || x.projectPageId === pid);\n    if (p) p.assets.push(a);\n  }\n}\n\n// --- Attach collection items (assets) to collections via collection.property_collection_items\nfor (const c of normalizedCollections) {\n  const itemIds = uniq(c.collectionItemIds);\n  c.items = itemIds.map((id) => assetNormById[id]).filter(Boolean);\n}\n\n// --- Attach collections to projects\n// Prefer explicit relation lists from project rows (property_collections), but also support collection.property_projects.\nfor (const p of normalizedProjects) {\n  const explicit = uniq(p.collectionIds);\n  if (explicit.length) {\n    for (const cid of explicit) {\n      const c = collectionNormById[cid];\n      if (c) p.collections.push(c);\n    }\n  } else {\n    // fallback: infer by collection.projectIds\n    for (const c of normalizedCollections) {\n      if ((c.projectIds ?? []).includes(p.projectPageId) || (c.projectIds ?? []).includes(p.id)) {\n        p.collections.push(c);\n      }\n    }\n  }\n}\n\n// --- Attach work logs to projects (via workLog.property_project relation)\nfor (const wl of workLogs) {\n  for (const pid of wl.projectIds) {\n    const p =\n      projectNormById[pid] ||\n      normalizedProjects.find((x) => x.id === pid || x.projectPageId === pid);\n    if (p) p.workLogs.push(wl);\n  }\n}\n\n// --- De-dup arrays + sort work logs\nfor (const p of normalizedProjects) {\n  p.resources = dedupById(p.resources);\n  p.assets = dedupById(p.assets);\n  p.collections = dedupById(p.collections);\n  p.workLogs = dedupById(p.workLogs);\n  p.workLogs = sortByDateDesc(p.workLogs, (w) => w.date);\n}\nfor (const c of normalizedCollections) {\n  c.resources = dedupById(c.resources);\n  c.assets = dedupById(c.assets);\n  c.items = dedupById(c.items);\n}\nfor (const a of normalizedAssets) {\n  a.resources = dedupById(a.resources);\n}\n\n// Note: thumbnails are normalized assets but are not included in normalizedAssets unless they are also in assetsRaw.\n// If thumbnail assets are included in assetsRaw, they will also receive resources via the same attachment loop above.\n// If thumbnails are NOT in assetsRaw (filtered out), they will remain without resources here.\n\n// --- Config (robust + auto fields)\nconst configItems = $items(\"Query Config\").map(i => i.json);\n\n// Pick a single config row:\n// - If \"name\" is an ISO-ish date (YYYY-MM-DD), pick the max (latest)\n// - Else fall back to the first row\nconst dateLike = (s) => typeof s === 'string' && /^\\d{4}-\\d{2}-\\d{2}$/.test(s);\n\nlet configRow = configItems[0] ?? {};\nconst datedRows = configItems.filter(r => dateLike(r.name));\nif (datedRows.length) {\n  configRow = datedRows.sort((a, b) => a.name.localeCompare(b.name)).at(-1);\n}\n\n// Value normalization helper\nfunction normalizeConfigValue(v) {\n  // Flatten 0/1 length arrays\n  if (Array.isArray(v)) {\n    if (v.length === 0) return null;\n    if (v.length === 1) return normalizeConfigValue(v[0]);\n    return v.map(normalizeConfigValue);\n  }\n\n  // Convert whitespace-only strings to null\n  if (typeof v === 'string') {\n    const t = v.trim();\n    return t === '' ? null : t;\n  }\n\n  return v ?? null;\n}\n\nconst config = Object.fromEntries(\n  Object.entries(configRow)\n    .filter(([k]) => k.startsWith(\"property_\"))\n    .map(([k, v]) => [k.replace(/^property_/, \"\"), normalizeConfigValue(v)])\n    .filter(([, v]) => v !== null)\n);\n\n// Optional: keep a top-level copy of all public work logs (sorted)\nconst workLogsSorted = sortByDateDesc(dedupById(workLogs), (w) => w.date);\n\nreturn [\n  {\n    json: {\n      config,\n      projects: normalizedProjects,\n      workLogs: workLogsSorted, // <-- optional top-level export\n    },\n  },\n];"
      },
      "id": "ab4ecf6d-e2d7-4d0f-9b4a-acad185aa5d3",
      "name": "Assemble Nested JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2496,
        896
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = $json;\n\nconst projectCount = Array.isArray(payload.projects) ? payload.projects.length : 0;\nconst workLogCount = Array.isArray(payload.workLogs) ? payload.workLogs.length : 0;\nconst exportedAt = $now.toISO();\nconst executionId = String($execution.id);\nconst sourceTrigger = $execution.mode;\n\nconst text = JSON.stringify(payload, null, 2);\n\nreturn [\n  {\n    json: {\n      filename: 'projects.json',\n      projectCount,\n      workLogCount,\n      exportedAt,\n      executionId,\n      sourceTrigger,\n    },\n    binary: {\n      data: {\n        data: Buffer.from(text, 'utf8').toString('base64'),\n        mimeType: 'application/json',\n        fileName: 'projects.json',\n      },\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2720,
        896
      ],
      "id": "326c7bc8-63c8-4823-936f-1785a9905fb7",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/home/node/.n8n-files/exports/new_projects.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        2944,
        896
      ],
      "id": "1bc64aae-d956-44f4-ba65-0b6b151155c3",
      "name": "Read/Write Files from Disk",
      "alwaysOutputData": false,
      "executeOnce": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "30baec94-4d3c-80ac-8774-f40327ab3f17",
          "mode": "list",
          "cachedResultName": "config",
          "cachedResultUrl": "https://www.notion.so/30baec944d3c80ac8774f40327ab3f17"
        },
        "returnAll": true,
        "filterType": "manual",
        "matchType": "allFilters",
        "options": {}
      },
      "id": "994c1c07-19de-41eb-97ba-8c83a705fc10",
      "name": "Query Config",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        2048,
        512
      ],
      "credentials": {
        "notionApi": {
          "id": "um5X4aoNtxRS0uUI",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 6
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2272,
        848
      ],
      "id": "d97d601e-9e13-4a4d-9c06-a4768e5b08c9",
      "name": "Merge"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "304aec94-4d3c-803f-9e54-ffda217f9426",
          "mode": "list",
          "cachedResultName": "work log",
          "cachedResultUrl": "https://www.notion.so/304aec944d3c803f9e54ffda217f9426"
        },
        "returnAll": true,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "key": "public|checkbox",
              "condition": "equals",
              "checkboxValue": true
            }
          ]
        },
        "options": {}
      },
      "id": "d84a799a-9ebf-4f7a-8800-bfe9fe3c499c",
      "name": "Query Work Log (All Public)",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        2048,
        1488
      ],
      "credentials": {
        "notionApi": {
          "id": "um5X4aoNtxRS0uUI",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "event": "pagedUpdatedInDatabase",
        "databaseId": {
          "__rl": true,
          "value": "304aec94-4d3c-80a8-82f6-fd7ff4d2b607",
          "mode": "list",
          "cachedResultName": "projects",
          "cachedResultUrl": "https://www.notion.so/304aec944d3c80a882f6fd7ff4d2b607"
        }
      },
      "type": "n8n-nodes-base.notionTrigger",
      "typeVersion": 1,
      "position": [
        1072,
        784
      ],
      "id": "de5efe70-ce94-499b-9604-c8c46ab5ba82",
      "name": "Notion Trigger",
      "credentials": {
        "notionApi": {
          "id": "um5X4aoNtxRS0uUI",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        1072,
        1040
      ],
      "id": "d06d34f9-752a-4547-8c0a-611a985f2ed0",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "308aec94-4d3c-80c4-94e9-c3620f68bd05",
          "mode": "list",
          "cachedResultName": "automation logs",
          "cachedResultUrl": "https://www.notion.so/308aec944d3c80c494e9c3620f68bd05"
        },
        "title": "={{ \"Projects Automation Started\" }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "status|select",
              "selectValue": "Pending"
            },
            {
              "key": "timestamp|date",
              "date": "={{ $now }}"
            },
            {
              "key": "execution id|rich_text",
              "textContent": "={{String($execution.id)}}"
            },
            {
              "key": "source trigger|rich_text",
              "textContent": "={{$execution.mode}}"
            },
            {
              "key": "details|rich_text",
              "textContent": "Workflow execution started"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1504,
        1024
      ],
      "id": "d136a0ea-3624-4f0f-9a67-dc14a53b5904",
      "name": "Create a database page",
      "credentials": {
        "notionApi": {
          "id": "um5X4aoNtxRS0uUI",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        2992,
        1200
      ],
      "id": "88321cde-e590-4927-b247-c449b78293fe",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "jsCode": "const err = $json.execution?.error || $json.error || {};\nconst workflowName =\n  $json.workflow?.name ||\n  $json.execution?.workflowData?.name ||\n  'Unknown workflow';\n\nconst executionId =\n  $json.execution?.id ||\n  $json.executionId ||\n  '';\n\nconst failedNode =\n  err.node?.name ||\n  $json.lastNodeExecuted ||\n  '';\n\nconst message =\n  err.message ||\n  $json.message ||\n  'Unknown error';\n\nconst description =\n  err.description ||\n  '';\n\nreturn [\n  {\n    json: {\n      name: `${workflowName} failed ${$now.toISO()}`,\n      status: 'Error',\n      timestamp: $now.toISO(),\n      workflow: workflowName,\n      executionId: String(executionId),\n      sourceTrigger: 'error-trigger',\n      failedNode,\n      details: description ? `${message} | ${description}` : message,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3296,
        1200
      ],
      "id": "44011e15-fe00-4a9b-b27d-51fa339c9280",
      "name": "Error Log"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "308aec94-4d3c-80c4-94e9-c3620f68bd05",
          "mode": "list",
          "cachedResultName": "automation logs",
          "cachedResultUrl": "https://www.notion.so/308aec944d3c80c494e9c3620f68bd05"
        },
        "title": "=\"{{`Projects export succeeded ${$json.notionLogSummary.exportedAt}`}}\"",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "status|select",
              "selectValue": "Success"
            },
            {
              "key": "timestamp|date",
              "date": "={{$json.notionLogSummary.exportedAt}}",
              "timezone": "=default"
            },
            {
              "key": "execution id|rich_text",
              "textContent": "=\"{{$json.notionLogSummary.executionId}}\""
            },
            {
              "key": "projects count|number",
              "numberValue": "={{ $json.notionLogSummary.projectCount }}"
            },
            {
              "key": "work logs count|number",
              "numberValue": "={{ $json.notionLogSummary.workLogCount }}"
            },
            {
              "key": "details|rich_text",
              "textContent": "=\"{{`Export completed. Projects: ${$json.notionLogSummary.projectCount}, Work logs: ${$json.notionLogSummary.workLogCount}`}}\""
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        3488,
        896
      ],
      "id": "a1c6b8dc-fbb1-4c40-911b-771a805897e0",
      "name": "Write Success Log",
      "credentials": {
        "notionApi": {
          "id": "um5X4aoNtxRS0uUI",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "308aec94-4d3c-80c4-94e9-c3620f68bd05",
          "mode": "list"
        },
        "title": "=\"{{$json.name}}\"",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "status|select",
              "selectValue": "Error"
            },
            {
              "key": "timestamp|date",
              "date": "={{$json.timestamp}}",
              "timezone": "=default"
            },
            {
              "key": "execution id|rich_text",
              "textContent": "={{$json.executionId}}"
            },
            {
              "key": "details|rich_text",
              "textContent": "=\"{{$json.details}}\""
            },
            {
              "key": "workflow|rich_text",
              "textContent": "={{$json.workflow}}"
            },
            {
              "key": "failed node|rich_text",
              "textContent": "={{$json.failedNode}}"
            },
            {
              "key": "source trigger|rich_text",
              "textContent": "={{$json.sourceTrigger}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        3568,
        1200
      ],
      "id": "1e221afc-7126-450e-a658-2f587b170d4b",
      "name": "Write Error Log",
      "credentials": {
        "notionApi": {
          "id": "um5X4aoNtxRS0uUI",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      notionLogSummary: {\n        projectCount: $json.projectCount ?? 0,\n        workLogCount: $json.workLogCount ?? 0,\n        exportedAt: $json.exportedAt ?? $now.toISO(),\n        executionId: $json.executionId ?? String($execution.id),\n        sourceTrigger: $json.sourceTrigger ?? $execution.mode,\n        outputFile: $json.fileName ?? null,\n      },\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3232,
        896
      ],
      "id": "50076af8-9a42-44b0-8223-d0d3c5a2a7ff",
      "name": "Build Success Log"
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Create a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Showcase (Projects)": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Query Collections (All Public)": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Query Assets (All Public)": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Query Resources (All Public)": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Assemble Nested JSON": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Build Success Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Config": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Assemble Nested JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Work Log (All Public)": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Notion Trigger": {
      "main": [
        [
          {
            "node": "Create a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Create a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a database page": {
      "main": [
        [
          {
            "node": "Query Config",
            "type": "main",
            "index": 0
          },
          {
            "node": "Query Showcase (Projects)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Query Collections (All Public)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Query Assets (All Public)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Query Resources (All Public)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Query Work Log (All Public)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Error Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Log": {
      "main": [
        [
          {
            "node": "Write Error Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Success Log": {
      "main": [
        [
          {
            "node": "Write Success Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9ccb64bf54cc9768d2e999f6f80b37c50137298c26b3981b0d527f2b82621d0f"
  }
}